---
import { getCollection, render } from "astro:content";
import type {
  GetStaticPaths,
  InferGetStaticPropsType,
} from "astro";

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () => {
  const entries = await getCollection("typ");

  return entries.map((entry) => ({
    params: {
      slug: entry.id,
    },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props as Props;
const { Content } = await render(entry);
---

<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head>
    <title>{entry.data.title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>{entry.data.title}</h1>
    <Content />
  </body>
</html>
